#boardOne {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    position: relative;
    background-color: white;
    margin: 0 auto;
    margin-top: 200px;
    padding: 5px;
}

.cell {
    display: inline-block;
    position: relative;
    margin: 0 auto;
    /*    margin-right: 5px;*/
    /*    padding: 5px;*/
    height: 150px;
    width: 150px;
    background-color: black;
 /*   transition: background-color 0.4s ease-in-out;*/
    border: 1px solid black;
}

.row {
    /*    padding: 5px;*/
    position: relative;
    background-color: white;
    display: inline-block;
    /*    border: 1px solid black;*/
}

