
#boardOne{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    position: relative;
    background-color: white;
    margin: 0 auto;
    margin-top: 200px;
    padding: 5px;
}

.cell {
    display: inline-block;
    position: relative;
    margin: 0 auto;
/*    margin-right: 5px;*/
/*    padding: 5px;*/
    height: 150px;
    width: 150px;
    background-color: white;
    border: 1px solid black;
}

.row {
/*    padding: 5px;*/
    position: relative;
    background-color: white;
    display: inline-block;
/*    border: 1px solid black;*/
}

#box1{
	background-color: deeppink;
}

#box2{
	background-color: cyan;
}

#box3{
	background-color: yellow;
}

#box4{
	background-color: lawngreen;
}