body {
    background-color: black;
    text-align: center;
}

#boardOne {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    position: relative;
    margin: 0 auto;
    margin-top: 100px;
}

.cell {
    display: inline-block;
    position: relative;
    margin: 0 auto;
    height: 150px;
    width: 150px;
    opacity: 0.3;
    padding: 10px 10px;
    margin: 0px 15px;
}

.row {
    position: relative;
    background-color: transparent;
    display: flex;
    margin: 0 auto;

}

[id="0"] {
    background-color: red;
}

[id="1"] {
    background-color: blue;
}

[id="2"] {
    background-color: green;
}

[id="3"] {
    background-color: yellow;
}

button {
    display: inline-block;
}

.buttons{
    width: 100px;
    margin: 0 auto;
    margin-top: 20px;
}

.score {
    margin-top: 10px;
    color: white;
}

#easy {
    display: show;
    margin: 0 auto;
}

#medium {
    display: show;
}

#hard {
    display: show;
}

span{
    color: white;
}


